<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="http://www.zhegushi.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="icon" href="{/$IMAGE_PATH/}css/image/icon/1616.png" type="image/x-icon">
<title>这故事没发生吗？</title>
 <link rel="stylesheet" type="text/css" href="http://www.zhegushi.com/css/404style.css">
 <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<div id="whoops">
				<img src="http://actcoder.u.qiniudn.com/404/404_dark.png" alt="" class="animated swing">
			</div>
		</div>
		<div class="span2"></div>
		<div class="span8">
			<h1>这故事没发生过^_^</h1>
			<p>
				<a href="">回首页看看</a>, 或者 关注我们的微博 <a href="http://weibo.com/zhegushi">@这故事儿</a>。
				<br>
				请提交死链给到<a href="mailto:wu@actcoder.com">我们团队</a>，非常感谢
			</p>
			<form class="form-search" action="search">
				<input type="text" class="input search-query" name="q">
				<button type="submit" class="btn">搜索</button>
			</form>
			<hr>
			<div class="menu">
				关注我们<a href="http://weibo.com/zhegushi">@这故事儿</a>
				<span class="separator"></span>
				<a href="">这故事</a>
			</div>
		</div> 
		<div class="span2"></div>
	</div>  
</div>  
</body></html>
